.home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vh 5vw;
    background-color: #373737;
    /* border: 2px solid red; */
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #373737;
    /* border: 2px solid red; */
}

.home-container>h6 {
    font-family: "Poppins";
    font-weight: 300;
    color: rgb(193, 193, 193);
    font-size: 1.2vw;
}

.home-container>h5{
    font-family: "Poppins";
    font-weight: 300;
    color: rgb(255, 59, 59);
    font-size: 1.2vw;
}

.heading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sub-heading>h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(193, 193, 193);
    font-size: 1.2vw;
}

.pdf-icon {
    color: tomato;
    height: 4vw;
    width: 4vw;
}

.pdf-input-number {
    background-color: #484848;
    border: none;
    color: white;
    outline: none;
    font-family: "Poppins";
    width: 20%;
    padding: 2vh 2vh;
    border-radius: 8px;
}

.pdf-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid red; */
    width: 60%;
    gap: 10px;
}

.pdf-label {
    font-family: "Poppins";
    color: white;
    font-size: 2vh;
}

.heading>h3 {
    font-family: "Poppins";
    padding: 2vh 0 0 0;
    color: rgb(255, 255, 255);
}

.pdf-input-text {
    border: 1px solid #484848;
    outline: none;
    font-family: "Poppins";
    border-radius: 8px;
    font-size: 2vh;
    width: 100%;
    padding: 2vh 10vh 2vh 2vh;
    resize: none;
    overflow: auto;
    min-height: 100px;
    max-height: 200px;
    background-color: #484848;
    color: white;
    transition: max-height 0.3s ease;
}

.pdf-button {
    padding: 1vh 2vh;
    border: none;
    font-family: "Poppins";
    cursor: pointer;
    background-color: tomato;
    transition: background-color 0.3s;
    border-radius: 4px;
    color: white;
    /* border: 2px solid red; */
}

.pdf-button>h6 {
    font-size: 2.5vh;
}

.pdf-button:hover {
    background-color: #39ace7;
}

.pdf-button:active {
    background-color: #6b6b6bc5;
}

.pdf-button-disabled {
    padding: 1vh 2vh;
    border: none;
    font-family: "Poppins";
    cursor: not-allowed;
    transition: background-color 0.3s;
    border-radius: 4px;

}

.pdf-button-disabled>h6 {
    font-size: 2.5vh;
    color: #373737;
}

@media screen and (max-width: 320px) {
    .heading>h3 {
        font-size: 10vw;
    }

    .pdf-input-text {
        width: 60%;
    }

    .pdf-button {
        right: 13%;
    }

    .stopIcon {
        font-size: 1rem;
    }

    .goIcon {
        /* border: 2px solid red; */
    }
}

@media screen and (max-width:375px) {
    .heading>h3 {
        font-size: 10vw;
    }

    .pdf-input-text {
        width: 60%;
    }

    .pdf-button {
        right: 13%;
    }

    .stopIcon {
        font-size: 1rem;
    }

    .goIcon {
        /* border: 2px solid red; */
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .heading>h3 {
        font-size: 10vw;
    }

    .pdf-input-text {
        width: 60%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .heading>h3 {
        font-size: 8vw;
    }

    .sub-heading>h6 {
        font-size: 3vw;
    }

    .pdf-icon {
        height: 10vw;
        width: 10vw;
        margin-top: 2vw;
    }

    .pdf-input-text {
        width: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .heading>h3 {
        font-size: 6vw;
    }

    .pdf-icon {
        height: 4vw;
        width: 4vw;
        margin-top: 1vw;
    }

    .pdf-input-text {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .heading>h3 {
        font-size: 5vw;
    }

    .pdf-input-text {
        width: 100%;
    }


}

@media screen and (min-width: 1441px) {
    .heading>h3 {
        font-size: 5vw;
    }

    .pdf-input-text {
        width: 60%;
    }
}